@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --3d: -3px 4px 6.099999904632568px -1px rgba(0, 0, 0, 0.09);
  --basic-100: var(--colors-neutral-100);
  --basic-800: var(--colors-neutral-800);
  --button-md: 0px 0px 20px 0px rgba(255, 255, 255, 0.2);
  --button-sm: 0px 0px 20px 0px rgba(255, 255, 255, 0.08);
  --colors-neutral-100: rgba(245, 245, 245, 1);
  --colors-neutral-800: rgba(38, 38, 38, 1);
  --x02-black: rgba(9, 20, 37, 1);
  --x02-blue: rgba(57, 117, 255, 1);
  --x02-gray-black: rgba(108, 114, 123, 1);
  --x02-gray-dark: rgba(217, 223, 233, 1);
  --x02-gray-light: rgba(246, 247, 250, 1);
  --x02-lavender: rgba(229, 230, 255, 1);
  --x02-light-blue: rgba(47, 167, 255, 1);
  --x02-midnight-blue: rgba(28, 0, 40, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
